rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() && (
        request.auth.token.email in [
          'gustiranda3013@gmail.com',
          'gustiranda3014@gmail.com'
        ]
      );
    }

    match /cv/{userId}/{allPaths=**} {
      allow read, write: if isAuthenticated() && (request.auth.uid == userId || isAdmin());
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
